@font-face{font-family:Cinzel;font-weight:700;src:url(cinzel-latin-700-normal.woff2) format('woff2')}
@font-face{font-family:UnifrakturMaguntia;font-weight:400;src:url(unifrakturmaguntia-latin-400-normal.woff2) format('woff2')}
@font-face{font-family:"EB Garamond";font-weight:600;src:url(eb-garamond-latin-600-normal.woff2) format('woff2')}
@font-face{font-family:"Bodoni Moda";font-weight:700;src:url(bodoni-moda-latin-700-normal.woff2) format('woff2')}
@font-face{font-family:Inter;font-weight:500;src:url(inter-latin-500-normal.woff2) format('woff2')}
@font-face{font-family:Inter;font-weight:600;src:url(inter-latin-600-normal.woff2) format('woff2')}
@font-face{font-family:Inter;font-weight:700;src:url(inter-latin-700-normal.woff2) format('woff2')}
@font-face{font-family:Inter;font-weight:800;src:url(inter-latin-800-normal.woff2) format('woff2')}
